body {
    background-color: black;
    overflow: hidden;
}

.border-square{
    position: absolute;
    width: 60%;
    height: 70%;
    min-width: 700px;
    min-height: 350px;
    top: 50px;
    left: 20%;
    
    background-color: rgba(255, 242, 59, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: rgb(252, 255, 53);
}

.border-square2{
    position: relative;
    width: calc(100% - 1px);
    height: calc(60% - 70px);
    top: 40%;
    left: -1px;
    
    background-color: rgba(42, 95, 240, 0.74);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px 15px 0px 0px;
    border-color: rgb(252, 255, 53);
}

.xp {
    position: absolute;
    top: -20px;
    left: 20px;
    color: rgb(245, 8, 8);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 6px 6px 5px black;
    font-size: 35px;
    font-style: italic;
}

.currentScores {
    position: absolute;
    top: -24px;
    right: 20px;
    color: rgb(11, 241, 80);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 6px 6px 5px black;
    font-size: 35px;
    font-style: italic;
}

h2 {
    position: absolute;
    left: 10%;
    top: 0px;
    color: rgb(245, 245, 245);
    font-size: 35px;
}

h3 {
    position: absolute;
    right: 15%;
    bottom: -22px;
    color: rgb(245, 245, 245);
    font-size: 35px;
}

h4 {
    position: absolute;
    right: 10%;
    top: -20px;
    color: rgb(245, 245, 245);
    font-size: 35px;
}

h5 {
    position: absolute;
    right: 10%;
    top: -82px;
    color: rgb(169, 249, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 6px 6px 5px black;
    font-size: 35px;
    font-style: italic;
}

.hits {
    position: absolute;
    left: 6px;
    top: 3px;
    color: rgb(245, 245, 245);
    font-size: 35px;
}

.score1 {
    position: absolute;
    left: calc(10% + 220px);
    top: calc(40% - 50px);
    color: rgb(245, 8, 8);
    font-size: 35px;
}

.score2 {
    position: absolute;
    right: 15px;
    top: calc(40% - 50px);
    color: rgb(11, 241, 80);
    font-size: 35px;
}

.redScores {
    position: absolute;
    width: 44%;
    height: 20%;
    top: 70px;
    left: 40px;
    overflow-y: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(206, 61, 61);
}

.redNameGroup {
    position: absolute;
    top: 0;
    left: 10px;
}

.redScoreGroup {
    position: absolute;
    top: 0;
    right: 10px;
}

.redList {
    position: relative;
    color: rgb(245, 8, 8);
    font-size: 35px;
}

.greenScores {
    position: absolute;
    width: 44%;
    height: 20%;
    top: 70px;
    right: 40px;
    overflow-y: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(154, 243, 112);
}

.greenNameGroup {
    position: absolute;
    top: 0;
    left: 10px;
}

.greenScoreGroup {
    position: absolute;
    top: 0;
    right: 10px;
}

.greenList {
    position: relative;
    color: rgb(11, 241, 80);
    font-size: 35px;
}