<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='actionStyle.css') }}">  
    </head>

    <script>
    
    // function getData()
    // {
    //     form_ID = document.getElementsByClassName("formID")
    //     formName = document.getElementsByClassName("formID")

    // }
    // for style sheet:
    // <link rel="stylesheet" href="{{ url_for('static', filename='actionStyle.css') }}">  
      
    

    </script>




    <body>
        <div class=border-square>
            <div class="xp">XP</div>
            <div class="currentScores">Current Scores</div>
            <h2>
                RED TEAM 
            </h2>
            <div class="redScores">
                <div class="redNameGroup">
                    <div class="redList" id="rName1">Scobby</div>
                    <div class="redList" id="rName2">Diego</div>
                    <div class="redList" id="rName3"></div>
                    <div class="redList" id="rName4"></div>
                    <div class="redList" id="rName5"></div>
                    <div class="redList" id="rName6"></div>
                    <div class="redList" id="rName7"></div>
                    <div class="redList" id="rName8"></div>
                    <div class="redList" id="rName9"></div>
                    <div class="redList" id="rName10"></div>
                    <div class="redList" id="rName11"></div>
                    <div class="redList" id="rName12"></div>
                    <div class="redList" id="rName13"></div>
                    <div class="redList" id="rName14"></div>
                    <div class="redList" id="rName15"></div>
                    <div class="redList" id="rName16"></div>
                    <div class="redList" id="rName17"></div>
                    <div class="redList" id="rName18"></div>
                    <div class="redList" id="rName19"></div>
                    <div class="redList" id="rName20"></div>
                </div>
                <div class="redScoreGroup">
                    <div class="redList" id="rScore1">200</div>
                    <div class="redList" id="rScore2">-100</div>
                    <div class="redList" id="rScore3"></div>
                    <div class="redList" id="rScore4"></div>
                    <div class="redList" id="rScore5"></div>
                    <div class="redList" id="rScore6"></div>
                    <div class="redList" id="rScore7"></div>
                    <div class="redList" id="rScore8"></div>
                    <div class="redList" id="rScore9"></div>
                    <div class="redList" id="rScore10"></div>
                    <div class="redList" id="rScore11"></div>
                    <div class="redList" id="rScore12"></div>
                    <div class="redList" id="rScore13"></div>
                    <div class="redList" id="rScore14"></div>
                    <div class="redList" id="rScore15"></div>
                    <div class="redList" id="rScore16"></div>
                    <div class="redList" id="rScore17"></div>
                    <div class="redList" id="rScore18"></div>
                    <div class="redList" id="rScore19"></div>
                    <div class="redList" id="rScore20"></div>
                </div>
            </div>
            <h4>
                GREEN TEAM
            </h4>
            <div class="greenScores">
                <div class="greenNameGroup">
                    <div class="greenList" id="gName1">Opus</div>
                    <div class="greenList" id="gName2"></div>
                    <div class="greenList" id="gName3"></div>
                    <div class="greenList" id="gName4"></div>
                    <div class="greenList" id="gName5"></div>
                    <div class="greenList" id="gName6"></div>
                    <div class="greenList" id="gName7"></div>
                    <div class="greenList" id="gName8"></div>
                    <div class="greenList" id="gName9"></div>
                    <div class="greenList" id="gName10"></div>
                    <div class="greenList" id="gName11"></div>
                    <div class="greenList" id="gName12"></div>
                    <div class="greenList" id="gName13"></div>
                    <div class="greenList" id="gName14"></div>
                    <div class="greenList" id="gName15"></div>
                    <div class="greenList" id="gName16"></div>
                    <div class="greenList" id="gName17"></div>
                    <div class="greenList" id="gName18"></div>
                    <div class="greenList" id="gName19"></div>
                    <div class="greenList" id="gName20"></div>
                </div>
                <div class="greenScoreGroup">
                    <div class="greenList" id="gScore1">400</div>
                    <div class="greenList" id="gScore2"></div>
                    <div class="greenList" id="gScore3"></div>
                    <div class="greenList" id="gScore4"></div>
                    <div class="greenList" id="gScore5"></div>
                    <div class="greenList" id="gScore6"></div>
                    <div class="greenList" id="gScore7"></div>
                    <div class="greenList" id="gScore8"></div>
                    <div class="greenList" id="gScore9"></div>
                    <div class="greenList" id="gScore10"></div>
                    <div class="greenList" id="gScore11"></div>
                    <div class="greenList" id="gScore12"></div>
                    <div class="greenList" id="gScore13"></div>
                    <div class="greenList" id="gScore14"></div>
                    <div class="greenList" id="gScore15"></div>
                    <div class="greenList" id="gScore16"></div>
                    <div class="greenList" id="gScore17"></div>
                    <div class="greenList" id="gScore18"></div>
                    <div class="greenList" id="gScore19"></div>
                    <div class="greenList" id="gScore20"></div>
                </div>
            </div>
            <div class="score1" id="redScore">
                100
            </div>
            <div class="score2" id="greenScore">
                400
            </div>
            
            <div class=border-square2>
                <h5>Current Game Action</h5>
                <div class=hits>
                    Scooby hit Opus<br>Opus hit Scooby<br>Diego hit himself
                </div>
            </div>
            <h3 id = "timer">
                Time Remaining: 30 Seconds
            </h3>
        </div>
    
    </body>

    <script>
        seconds = 30
    	var timer = setInterval(myCounter, 1000);

        function myCounter()
        {
            document.getElementById("timer").innerHTML = "Time Remaining: " + seconds + " Seconds";
            seconds --;
            if(seconds < 0)
            {
                stopFunction();
                document.getElementById("timer").innerHTML = "Time Remaining: NONE!";
                
            }
        }

        function stopFunction()
        {
            clearInterval(timer);
        }

		
    </script>

<script>
    var request = new XMLHttpRequest();
    request.open('GET','rednames', true);
    request.onload = function() {
        var response = request.response;
        const redArray = response.split(",");
        for(let i = 1; i <= redArray.length -1; i++) 
        {
            document.getElementById("rName" + i).innerHTML = redArray[i-1];
            document.getElementById("rScore" + i).innerHTML = 0;
        }

    }
    request.send(null);

    var request2 = new XMLHttpRequest();
    request2.open('GET','greennames', true);
    request2.onload = function() {
        var response2 = request2.response;
        const greenArray = response2.split(",");
        for(let i = 1; i <= greenArray.length -1; i++) 
        {
            document.getElementById("gName" + i).innerHTML = greenArray[i-1];
            document.getElementById("gScore" + i).innerHTML = 0;
        }

    }
    request2.send(null);

</script>
    
</html>