<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="actionStyle.css">  
    </head>

    <script>
    
    // function getData()
    // {
    //     form_ID = document.getElementsByClassName("formID")
    //     formName = document.getElementsByClassName("formID")

    // }
    // for style sheet:
    // <link rel="stylesheet" href="{{ url_for('static', filename='actionStyle.css') }}">  
      
    

    </script>




    <body>
        <div class=border-square>
            <h2>
                RED TEAM 
            </h2>
            <h4>
                GREEN TEAM
            </h4>
            
            <div class=border-square2>
                <div class=hits>
                    Scooby hit Opus<br>Opus hit Scooby<br>Diego hit himself
                </div>
            </div>
            <h3>
                Time Remaining: 
            </h3>
        </div>
    
    </body>

    <script>
    		
		
    </script>
    
</html>