<!DOCTYPE html>
<html>
  <style>
    #progress{
      width: 100%;
      background-color: rgba(32, 30, 30, 0.61);
    }

    #bar{
      width: 1%;
      height: 30px;
      background-color: #1260d4;


    }
  </style>

  <title>Team1</title>

  <body bgcolor="black"; style="background-image: url('/static/logo_resized.jpg'); background-repeat: no-repeat; background-size: cover;" onload="moveBar()">
    
    <h1 style="margin-bottom: 700px;" ,></h1>
      
    <br>
    <div id= "progress">
      <div id="bar"></div>
    </div>

    <script>
      var i = 0;
      
      function moveBar()
      {
        if (i == 0)
        {
          i = 1;
          var elem = document.getElementById("bar");
          var width = 1;
          var id = setInterval(frame, 10);
          function frame()
          {
            if (width >= 100)
            {
              clearInterval(id);
              i = 0;
              window.location.replace("http://127.0.0.1:5000/game")
            } 
            else
            {
              width++;
              elem.style.width = width + "%";
            }
            
          }
        }
      }
      
    
      </script>
  </body>




</html>
 